<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Bunga Adifatillah</title>
</head>
<body>
	<nav>
		<a href="index.js">Home</a>
		<a href="download-cv">Download CV</a>
		<a href="/contact">Contact</a>
		<a href="/about">About Me</a>
	</nav>
	<hr/>
		<h1>About Me</h1></br>
		<p>Hi, saya adalah Bunga Adifatillah sedang kuliah di Politeknik Negeri Lampung Prodi Manajemen Informatika</p>
		<p>Saya sedang belajar Pemrograman Web Framework membuat node.js</p>
		<p>
			<video controls="" width="350" height="350">
				<source src="/assets/video-about.mp4" type="video/mp4">
			</video>
		</p>
		<hr>
	<footer style="text-align: center;">
		<p>Copyright &copy; 2022 Bunga Adifatillah</p>
	</footer>
	</article>
</body>
</html>