<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Bunga Adifatillah</title>
</head>
<body>
	<nav>
		<a href="index.js">Home</a>
		<a href="download-cv">Download CV</a>
		<a href="/contact">Contact</a>
		<a href="/about">About Me</a>
	</nav>
	<hr/>
	<div>
		<h1>Contact</h1>
		<form>
			<label for="Email">Email</label></br>
			<input type="Email" name="Email" placeholder="alamat email"></br>
			<label for="Message">Pesan</label></br>
			<textarea name="Message" placeholder="Tulis pesan anda..." rows="4" cols="80%"></textarea></br>
			<input type="Submit" name="Kirim"></br>
		</form>
	</div>
	<hr>
	<footer style="text-align: center;">
		<p>Copyright &copy; 2022 Bunga Adifatillah</p>
	</footer>
</body>
</html>