<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Bunga Adifatillah</title>
</head>
<body>
	<nav>
		<a href="index.js">Home</a>
		<a href="download-cv">Download CV</a>
		<a href="/contact">Contact</a>
		<a href="/about">About Me</a>
	</nav>
	<hr/>
	<header style="text-align: center;">
		<img src="/assets/foto-profil.png" width="150" height="150" style="border-radius: 50%;">
		<h1>Bunga Adifatillah</h1>
		<h3>(A.Md.Kom)</h3>
	</header>
	<hr/>
	<article style="text-align: center;">
		<h2>Overview</h2>
		<p>Hi, saya adalah Bunga Adifatillah sedang kuliah di Politeknik Negeri Lampung Prodi Manajemen Informatika</p>
	</article>
	<div style="max-width: 600px; margin: 3em auto;">
		<table border="1" width="100%" bgcolor="pink">
			<thead>
				<tr>
					<th>Skill</th>
					<th>Pengalaman</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<ul>
							<li>HTML(Expert)</li>
							<li>CSS(Beginner)</li>
							<li>Javascript(Beginner)</li>
						</ul>
					</td>
					<td>
						<li>Pernah bekerja di Kementerian Riset dan Teknologi</li>
						<li>Menjadi menteri di Kementerian Riset dan teknologi</li>
						<li>Kontributor open source</li>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<hr>
	<footer style="text-align: center;">
		<p>Copyright &copy; 2022 Bunga Adifatillah</p>
	</footer>
</body>
</html>